:root{
    font-family: sans-serif;
    user-select: none;
}

body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#sketchContainer{
    position: fixed;
    z-index: 0;
    cursor: none;
}

#toolbarContainer{
    position: fixed;
    z-index: 1;
    width: 25%;
    height: 100%;
    transition: 0.5s;
    left: -25%;
    padding-right: 1vw;
    border-right: 2px solid rgba(0,0,0,0.1);
    cursor: pointer;
}

#toolbarContainer.toggled{
    left: 0%;
}

#toolbar{
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
    z-index: 1;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 10%;
    color: white;
    font-family: sans-serif;
    cursor: default;
}

#toolbar > * {
    position: relative;
    width: 100%;
}

#toolHead{
    height: 5vh;
    display: flex;
}

.toolSection{
    height: 5vh;
    display: flex;
    justify-content: center;
}

.toolSectionButton{
    height: 100%;
    background-color: rgba(150, 150, 150, 0.5);
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.4);
    flex-grow: 1;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;

}

.toolSectionButton:hover{
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.8);
    background-color: rgba(71, 71, 71, 0.7);
}

.toolSectionInputField{
    flex-grow: 3;
    background-color: white;
}

.toolSectionInputNumber{
    display: flex;
    flex-grow: 2;
    background-color: rgba(150, 150, 150, 0.5);
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.4);
}

.toolSectionInputNumber:hover{
    background-color: rgba(110, 110, 110, 0.7);
    cursor: pointer;
}

.toolSectionInputNumber > * {
    flex-grow: 1;
}

.toolSectionInputNumberButtons{
    display: flex;
    flex-direction: column;
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.4);
}

.toolSectionInputNumberButtons > *:hover{
    background-color: rgba(71, 71, 71, 0.7);
}

.toolSectionInputNumberButtons > *{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.inputNumberValue{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigIcon {
    height: 100%;
    box-sizing: border-box;
    padding: 10%;
}

.inputNumberIcon{
    height: 100%;
    padding: 5%;
    box-sizing: border-box;
}